/* Structure */
body {
  background: #333333;
}

section {
  background: #3399FE;
  margin: 50px 30px;
  border-radius: 3px;
  align-items: center;
}

#rainbow-section {
  max-height: 280px;
  min-height: 280px;
}

#quote-section p {
  padding: 10px;
}

#rainbow-section p {
  padding: 0;
  margin: 0;
}

button {
  background: #333333;
  padding: 10px;
  margin: 10px 0px 10px 10px;
  border-radius: 5px;
}

.hide {
  display: none;
}

#pot-of-gold {
  position: absolute;
  right: 10%;
  top: 50%;
  z-index: 1;
}

/*Typography*/
button {
  color: #3399FE;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section h1 {
  text-align: center;
  font-size: 2em;
}

#rainbow-section p {
  color: transparent;
}


/* Larger Resolutions */
@media only screen and (min-width: 600px) {
 .flex-container {
  display: flex;
 }

 .column {
  flex: 1;
 }

 #pot-of-gold {
  position: absolute;
  right: 5%;
  top: 30%;
}
}