/* Structure */
body{
  margin: 0px;
  max-width:100%;
}

#user-nav {
  padding:1px;
}

#main-header {
  background: black;
}

#logo-search input{
  height: 30px;
  width: 189px;
  background-color: black;
  border: 1px solid white;
}

.inline {
  display: inline-block;
  padding: 10px;
  background-color:#73000A;
}

#landing-image {
  width: 100%;
}

#new-understanding button:hover, #overcoming-barriers button:hover, #investing-in-research button:hover, #office-vp button:hover {
  background-color: white;
  color:#73000A;
  border: 2px solid #73000A;
}

#remarkable-research {
  background-color: #73000A;
}

#remarkable-research img, #overcoming-barriers img, #new-understanding img, #breakthrough img, #leading-edge img, #office-vp img {
  max-width:100%;
}

#overcoming-barriers {
  background: black;
}

#overcoming-barriers button {
  background-color: #73000A;
  border: 2px solid white;
  padding: 10px;
  width: fit-content;
}

#new-understanding, #investing-in-research, #office-vp {
  background-color: #ECECEC;
}

#new-understanding button, #investing-in-research button, #office-vp button {
  background-color: #73000A;
  padding: 20px;
  width: fit-content;
}

.column2 {
  padding: 15px;
  justify-content: center;
  margin-left: 3%;
}

#new-understanding img {
  margin-left: 10%;
  margin-bottom:1%;
  margin-top: 1%;
  margin-right: 1%;
}

#column3 {
  margin-left: 2%;
  margin-right: 10%;
  justify-content: center;
}

#research-spots {
  background-color: #FFFFFF;
}

.col1of4:hover {
  background-color: #F0F0F0;
}

#research-spots .flex-container {
  margin-left:auto;
  margin-right:auto;
  width: 300px;
}

#more-research-stories {
  position: absolute;
  right: 5%;
}

#breakthrough {
  background: #570008;
  margin-top: 75px;
}

#breakthrough button, #better-world button {
  background: black;
  padding: 20px;
  width: fit-content;
  border: 3px solid white;
}

#breakthrough button:hover, #better-world button:hover {
  background-color: white;
  color:#73000A;
}

#breakthrough button, #breakthrough h1, #breakthrough p {
  position: relative;
  top: 25%;
}


#investing-in-research #column3 {
  margin-left: 8%;
}

#investing-in-research img {
  margin-right: 10%;
  margin-bottom:1%;
  margin-top: 1%;
  margin-left: 10%;
}

#leading-edge {
  background: #1E414D;
}

#leading-edge button {
  background: #73000A;
  padding: 20px;
  width: fit-content;
  border: 3px solid white;
}

#leading-edge button:hover {
  background-color: white;
  color:#73000A;
  border: 3px solid #73000A;
}

#better-world {
  background-image: url('https://place-hold.it/800x500/cec8c8');
  width: 100%;
  height: 700px
}

#better-world h1 {
  margin:0px;
}

#text {
  background-color: #73000A;
  position:relative;
  top: 1%;
  margin: 0 10px;
}

#better-world h1, #better-world p, #better-world button {
  position: relative;
  top: 25%;
  left: 2px;
  padding-right: 2px;
  padding-left:2px;
}

#office-vp h1, #office-vp p, #office-vp button {
  margin-left: 5%;
  margin-right: 10%;
}

#main-footer {
  background:#73000A;
}

#logo-links li {
  list-style: none;
}

#link-holder {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


#logo-links {
  display: flex;
  flex: 1;
  gap: 10px;
}

#link-holder li {
  list-style-type: none;
}

#bottom-bar {
  background: black;
}

#bottom-bar p {
  padding: 1px;
  position: relative;
  left: 10%;
}

/* Horizontal Navigation */
.horizontal-nav ul {
  padding-left: 0px;
}

.horizontal-nav li {
  list-style-type: none;
  margin-left: 5px;
  margin-right: 5px;
}


/* Navigation */
#main-nav {
  text-align: center;
  background-color: #73000A;
  padding: 1px;
}

#main-nav ul {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#main-nav li {
  margin: 0 2px;
}


/* Typography */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

#user-nav {
  font-size: xx-small;
}

#label, #logo-search input, #user-nav a, main h1, #remarkable-research, #overcoming-barriers {
  color: white;
}

.horizontal-nav a {
  color: white;
  text-decoration: none;
}

#remarkable-research h1 {
  font-family: serif;
  font-size: 2.7em;
}

#overcoming-barriers h1, #new-understanding h1, #breakthrough h1, #leading-edge h1 {
  font-size: 2.7em;
}

#remarkable-research p, #overcoming-barriers p, #breakthrough p, #leading-edge p {
  font-size: 1.1em;
}

#overcoming-barriers button {
  color: white;
  font-size: 1.4em;
}

#new-understanding button, #investing-in-research button, #office-vp button {
  color: white;
  font-size: 1.4em;
}

#new-understanding h1, .col1of4 h3, #research-spots h1, #investing-in-research h1, #office-vp h1 {
  color:#73000A;
}

#research-spots a {
  text-decoration: none;
  color: black;
}

#research-spots h1 {
  font-size: 2.7em;
  font-family: serif;
  text-align: center;
}

#more-research-stories {
  color: #73000A !important;
}

#breakthrough, #leading-edge {
  color: white;
}

#breakthrough button, #leading-edge button, #better-world button {
  color: white;
  font-size: 1.4em;
}

#text h1, #text p, #text button {
  color: white;
}

#office-vp h1 {
  font-size: 2.7em;
}

#office-vp a {
  color: #73000A;
}

#link-holder a {
  color: white;
  text-decoration: none;
}

#link-holder {
  color: white;
  font-weight:100;
}

#link-holder ul {
  padding: 10px;
}

.underline {
  border-bottom: 2px solid white;
}

#bottom-bar p {
  color: white;
  font-size: 10px;
}

/* Larger Resolutions */
@media only screen and (min-width:768px) {
  .horizontal-nav ul, .flex-container {
  display: flex;
  }

  #user-nav ul {
    position: relative;
    top: 0%;
    left:45%;
  }

  #main-nav li {
    flex: 1;
  }

  #logo-search {
    padding: 5px;
    justify-content: space-between;
    margin: 10px 10%;
  }

  .padding-right{
    padding-right:20px;
  }

  #landing h1 {
    margin-top: -40px;
    margin-left: 10%;
    font-size: 3em;
  }

  #landing p {
    margin-left: 30%;
    margin-right: 30%;
    font-size: 1.1em;
  }

  #remarkable-research img {
    flex: 6;
    height: 600px;
  }

  #column {
    flex: 4;
    flex-direction: column;
  }

  #remarkable-research #column {
    justify-content:flex-end;
    padding-left:20px;
    margin-right: 7%;
  }

  #overcoming-barriers {
    flex: 1;
    min-width:0;
    min-height:0;
    overflow:hidden;
  }

  .column2, #column3 {
    flex:1;
    flex-direction: column;
  }

  #new-understanding {
    flex: 1;
  }

  #research-spots .flex-container {
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
  }

  .col1of4 {
    margin: 20px;
  }

  #investing-in-research img {
    margin-right: 10%;
    margin-bottom:1%;
    margin-top: 1%;
    margin-left: 1%;
  }

  #text {
    max-width: 40%;
    width: fit-content;
    height: 40%;
    position: relative;
    top: 35%;
    left: 5%;
  }

  #office-vp .column2 {
    margin-right: 50%;
  }

  #logo-links {
    position: absolute;
    right: 5%;
  }
  
}