/* Structure */
body {
  margin: 0;
  background: #F5F5F5;
}

header {
  background: #0177B6;
}

.hide {
  display: none;
}

header img {
  margin: 10px;
}

#delaware-history {
  max-width: 100%;
}

#delaware-history img {
  width: 100%;
}

#delaware-history p, #delaware-history h1, #landscape p, #landscape h1 {
  padding: 0 10px;
}

#fun-facts, #delaware-history {
  background: #EBF1F7;
}

#fun-facts section {
  background: white;
  margin: 5px 10px 15px 10px;
  padding: 10px;
  text-align: center;
}

#fun-facts h1 {
  text-align: center;
  padding-top: 5px;
}

/* Footer */
footer {
  padding: 0 10px;
  background: #BEBEBE;
}

footer img {
  padding-top: 10px;
}

/* Navigation */
#main-nav a {
  text-decoration: none;
  color: white;
}

#main-nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

#main-nav li {
  padding: 10px 0px;
  border-bottom: 5px solid transparent;
}

#main-nav li:hover {
  background-color: #959595;
}

#main-nav .bottom-border {
  border-bottom: 5px solid #93D1F3;
}

#nav-items {
  padding: 0;
}

#hamburger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

#hamburger {
  padding: 10px;
}


/*Typography*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

header h2 {
  color: white;
}

#main-nav a {
  font-size: 1.2em;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 1.9em;
}

#footer-info {
  /* TODO See if this is okay */
  display: flex;
  justify-content: space-between;
 }


/* Larger Resolutions */
@media only screen and (min-width: 600px) {
  .flex-container {
    display: flex;
   }
  
   #nav-items a {
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
   }
  
   #hamburger {
    display: none;
   }
  
   header h2 {
    position: relative;
    top: 15px;
   }
  
   .column {
    flex: 6;
   }
  
   .column2 {
     flex: 4;
   }

   .column-split {
    flex: 1;
   }

   #fun-facts .flex-container {
    width: 80%;
    margin: auto;
   }
}