:root {
  --background: #333333;
  --primary: #3399fe;
}

/* Structure */
body {
  margin: 0;
  padding: 0;
  background: var(--background);
}

#movies-container {
  background-color: var(--primary);
  max-width: 90%;
  margin: 10px auto;
  border-radius: 3px;
  padding: 10px;
}

section {
  background: #1b74cd;
  box-shadow: 10px 10px #333333;
  padding: 5px;
  border-radius: 2px;
  max-width: 90%;
  margin: 20px auto;
}

img {
  transition: transform 0.2s;
  padding: 15px;
  max-width: 70%;
}

img:hover {
  transform: scale(1.5);
}

#movie-img {
  flex: 2;
  text-align: center;
}

#movie-text {
  flex: 8;
  padding: 0 10px 0 10px;
}

/*Typography*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
}

/* Larger Resolutions */
@media only screen and (min-width: 600px) {
  img {
    max-width: 90%;
  }

  section {
    display: flex;
  }
}
