/* Structure */
body {
  margin: 0;
  background: #F5F5F5;
  z-index: 0;
  max-width: 100%;
}

header {
  background: #0177B6;
}

.hide {
  display: none;
}

header img {
  margin: 10px;
}

#slideshow-container img{
  width: 100%;
}

img {
  max-width: 100%;
}

#delaware-intro p, #delaware-intro h2, #navigating-the-state p,
#navigating-the-state h2 {
  padding: 10px;
}

#delaware-intro button {
  position: relative;
  left: 50px;
  padding: 7px 10px;
  background: #0177B6;
  color: white;
  border-radius: 1px;
}

#delaware-intro button:hover {
  background: #959595;
}

#delaware-history {
  max-width: 100%;
}

#delaware-history img, #about-info img {
  width: 100%;
  margin-bottom:1%;
  margin-top: 1%;
}

#delaware-history p, #delaware-history h1, #landscape p, #landscape h1 {
  padding: 0 10px;
}

#fun-facts, #delaware-history {
  background: #EBF1F7;
}

#fun-facts section {
  background: white;
  margin: 5px 10px 15px 10px;
  padding: 10px;
  text-align: center;
}

#fun-facts h1 {
  text-align: center;
  padding: 10px;
  margin: 0;
}

.list {
  background: #F5F5F5;
  max-width: 100%;
  max-height: fit-content;
}

.list section.column-split {
  background: #7FA8D4;
  overflow: hidden;
  margin: 5px 10px 15px 10px;
  text-align: center;
}

.list p {
  text-align: center;
  margin: 0;
  font-size: 1.2em;
  padding: 2px;
}

.list img {
  width: 100%;
  height: 50%;
}

.no-background {
  background: #F5F5F5;
  margin: auto 20px;
  display: none;
  cursor: pointer;
}

#attractions section {
  cursor: pointer;
}

#activities section {
  cursor: pointer;
}

#form-submit-button {
  width: 150px;
  padding: 10px;
  background-color: #0177B6;
  border-radius: 3px;
}

#button-container{
  text-align: center;
  margin: auto;
}

#activity-container, #picture-container {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
}

#x-button, #x-button-pic {
  z-index: 2;
  position: absolute;
  top: 2%;
  left: 95%;
}

#pictures {
  background: #EBF1F7;
  max-width: 100%;
}

#pictures img:not(#big-pic) {
  margin-bottom: 10px;
  max-width: 100%;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

#sussex-county, #kent-county, #new-castle-county {
  margin: auto;
  text-align: center;
  width: 90%;
}

#new-castle-county {
  margin-bottom: 10px;
}

#big-pic {
  max-width: 100%;
  margin: auto;
}

#about-me-section {
  background-color: #EFEFEF;
}

#about-info p {
  padding: 10px;
}

#contact-info {
  margin: 0 20px;
}

#contact-title {
  margin: 30px;
}

/* Footer */
footer {
  padding: 0 10px;
  background: #BEBEBE;
}

footer img {
  padding-top: 10px;
}

/* Navigation */
#main-nav a {
  text-decoration: none;
  color: white;
}

#main-nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

#main-nav li {
  padding: 10px 0px;
  border-bottom: 5px solid transparent;
}

#main-nav li:hover {
  background-color: #959595;
}

#main-nav .bottom-border {
  border-bottom: 5px solid #93D1F3;
}

#nav-items {
  padding: 0;
}

#hamburger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

#hamburger {
  padding: 10px;
}

#new-recommendations .column-split label {
  width: 150px;
}


/*Typography*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

header h2, #form-submit-button {
  color: white;
}

#main-nav a {
  font-size: 1.2em;
}

#delaware-intro p{
  font-size: 1.1em;
}

h1 {
  font-size: 1.9em;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

#new-recommendations div {
  padding: 20px;
}

.inline {
  text-align: center;
}

#about-info p {
  font-size: 1.1em;
}

#about-title {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}


/* Larger Resolutions */
@media only screen and (min-width: 600px) {
  .flex-container {
    display: flex;
  }
  
  #nav-items a {
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  
  #hamburger {
    display: none;
  }
  
  header h2 {
    position: relative;
    top: 15px;
  }
  
  .column {
    flex: 6;
  }
  
  .column2 {
    flex: 4;
  }
  
  .column-split {
    flex: 1;
  }
  
  .column3 {
    flex: 3;
  }
  
  .column4 {
    flex: 7;
  }
  
  #fun-facts .flex-container {
    width: 90%;
    margin: auto;
  }
  
  .no-background {
    display: block;
  }
  
  #rows-of-cols.flex-container {
    flex-wrap: wrap;
  }
  
  .col1 .column-split{
    flex: 1;
    padding: 10px;
  }
  
  #pictures .column-split {
    flex-wrap: wrap;
  }
  
  #footer-info{
    justify-content: space-between;
    padding: 2px;
  }
  
  #activity-container {
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: 5% 23.5%;
  }
  
  #picture-container {
    position: absolute;
    padding: 50px;
    z-index: 1;
    width: 70%;
    background-color: white;
    /* Found on tutorialspoint.com/ to center div */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #delaware-history img, #about-info img {
    margin-right: 2%;
    margin-left: 5%;
  }
  
  #about-info p {
    margin-right: 10%;
  }

  #contact-info {
    width: 80%;
    margin: 0 auto;
  }
  
  #contact-info p, #contact-info img, #contact-info h3 {
    margin: 30px 2px;
  }

  #contact-info p {
    padding-top: 2px;
  }
}